$backGroundColorMain: #f9f6f4;
$inputSearchColor: #ede6e6;
$primaryColor: #ffb800;
$secondaryColor: #ff993c;
$textColor: #1e0d03;
$backGroundColorTableCell: #f7f8fb;
$backGroundColorTableCell2: #f1f4f8;
